.title{
    position: relative;
    width: 100%;
    height: auto;
    left: 0px;
    top: 0px;
    background: rgba(255, 255, 255, 0.452);
}

.title-text{
    position: relative;
    height: auto;
    width: auto;    
    left: 1vw;
    top : 2vh;
    /*font-family: Open Sans Hebrew;*/
    font-style: normal;
    font-style: italic;
    font-weight: 500;
    font-size: calc(1.5vh + 1.3vw);
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 3vh;
    /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

hr{
    
    width: 97%;
    height: 1px;
    background: black;
    margin-left: auto;
    margin-right: auto;
}