.Footer {
    padding: 3px 0;
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    background: rgba(189, 189, 189, 0.267); 
    margin-top: auto;
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
}