.mainWindow{
    position: relative;
    width: 70vw;
    height: auto;
    min-height: 50vh;
    /*left: 17vw;*/
    /*top: 16vh;*/
    padding-bottom: 10px;
    background: #F5F5F5;
    border: 1px solid #BDBDBD;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 3vh;
    margin-left: 0px;
    
  }