.mainButton{
    position: relative;
    width: auto;
    height: auto;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 5px;
}

.mainButton:hover{
    transform: scale(1.03);
    background: rgb(196, 196, 196);
}

.critic{
    background: #AFCDA5;
}

.noCritic{
    background: #E39E9E;
}

.critic:hover{
    transform: scale(1.03);
    background: rgb(103, 170, 103);
}


.noCritic:hover{
    transform: scale(1.03);
    background: rgb(202, 123, 123);
}

