#submit{
    position: relative;
    bottom: 0px;
    width: auto;
    height: 35px;
    left: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
    background: #AFCDA5;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: 18px;
}

#submit:hover{
    transform: scale(1.03);
    background: rgb(103, 170, 103);
}