.Header {
    padding-top: 1vw;
    padding-bottom: 1vw;
    text-align: center;
    margin-bottom: 1vw;
    background: rgba(238, 237, 237, 0.712);
}

/*.authMain {*/
/*    background: rgba(238, 237, 237, 0.712);*/
/*    margin-top: 1vw;*/
/*    padding: 2vw;*/
/*    border: 0.1vw solid #BDBDBD;*/
/*}*/
