.notifications{
    position : relative; 
    height : auto; 
    min-height : 100px; 
    border-bottom-style : solid;
    border-bottom-width : 1px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.bidding{
    margin-left: 20px;
}

.notificationItem{
    width: auto;
    margin-bottom: 10px;
}