.informationWindow{
    position: relative;
    /*background-color: white;*/
    margin-top: 0px;
    padding-top: 5px;
    height: auto;
    padding-bottom: 10px;
    height: auto;
    padding-bottom: 10px;

}

p{
    margin-top: 5px;
    margin-bottom: 5px;
}

.inputAttach{
   margin-left: 10px;
}

.descriptionDetail{
    position: relative;
    width: 85%;
    height: auto;
    left: 3%;
    margin-bottom: 2vh;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 2.5vh;
    font-size: 18px;
    font-style: italic;
    margin-top: 1vh;
    background: white;
}


.attached{
    position: relative;
    left: 3%;
    margin-top: 5px;
    margin-bottom: 10px;
    /*font-family: Open Sans Hebrew;*/
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #000000;
    padding-left: 0px;
    
}

.attach{
    position: absolute;
    left:3%;
    width: auto;
    height: auto;
    margin-top: 10px;
    padding-right: 20px;
}

.attachTitle{
    position: relative;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    width: auto;
    left:1%;
}


.delete{
    position: absolute;
    display: inline;
    width:auto;
    height: auto;
    left:52%;
    margin-top: 10px;
    padding-right: 20px;
}

.attachButtons:hover{
    transform: scale(1.03);
    cursor: pointer;
}

.red{
    background: #E39E9E;
}

.red:hover{
    background: rgb(230, 115, 115);
}

.green:hover{
    background: rgb(79, 172, 79);
}

.inputLink{
    position: relative;
    left:3%;
    margin-top: 20px;
    margin-bottom: 30px;
    width: auto;
    height: auto;
}

.gapped{
    margin-top: 20px;
    position: relative;
    left:3%;
}
.underline{
    text-decoration: underline;
}

#input{
    position: relative;
    width: auto;
    height: auto;
}


