.requireCriticButton{
    position: relative;
    width: auto;
    height: auto;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 8px;
}

.yes{
    background: #A2D990;
}

.maybe{
    background: #FAEF8A;
}

.no{
    background: #E39E9E;
}

.yes:hover{
    transform: scale(1.03);
    background: rgb(103, 170, 103);
}

.maybe:hover{
    transform: scale(1.03);
    background: rgb(255, 252, 99);
}

.no:hover{
    transform: scale(1.03);
    background: rgb(202, 123, 123);
}
