.contentBar{
    position: relative;
    width: auto;
    height: auto;
    left: 0px;
    top: 0px;
    padding: 0px;
    margin-bottom: 2vh;
    margin-left: 1vw;
}

.button{
    top: 0px;
    background: #EEEEEE;
    height: 5vh;
    width: auto;
    min-width: 8vw;
    margin-top: 0px;
    text-align: center;
    font-size: calc(0.5vh + 0.6vw);
    border:none;
    border-right: rgb(192, 191, 191) 1px solid;
    border: 1px solid #BDBDBD;
}

.button:hover{
    cursor: pointer;
    /* transform: scale(1.02); */
    transition: 0.3s;
    background: rgba(218, 218, 218, 0.863);
}

.btnSelected{
    background: rgb(192, 191, 191);
}


.btnSelected:hover{
    background: rgb(192, 191, 191);
    transform: scale(1);
}