body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  height: 100%;
}

.topBar{
  position : fixed;
  width : 100vw;
  margin : 0; 
  z-index: 9999
}

.mainContent{

  /* width: 100vw;
  height:auto;
  min-width: 100%;
  padding-bottom: 72px; */
  padding-bottom: 13vh;
  margin-bottom: 30px;
  height: auto;
  flex: 1 0 auto;
}

.page{

  display: flex;
	flex-direction: column;
  min-height: 100vh;
  /* position: relative;
  height: auto;
  padding-bottom: 0px;
  margin-bottom: 0px; */
}

html{
  width: 100%;
  max-width: 100%;
  /* overflow-x: hidden; */
}

button{
  outline: none;
}

button:hover{
  cursor: pointer;
}

.ml20{
  margin-left: 20px;
}

.ml30{
  margin-left: 30px;
}

.buttonMore{
  position: relative;
  width: auto;
  height: calc(1.3vh + 1.8vw);
  left: 2vw;
  margin-top: 0px;
  margin-bottom: 10px;
  background: rgb(147, 194, 131);
  border: 1px solid rgb(58, 90, 49);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 5px;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}

.buttonMore:hover{
  transform: scale(1.02);
  background: rgb(103, 170, 103);
}

.workTitle{
  margin-left: calc(1vh + 1vw);         
}

.auth-form {
  margin: auto;
  margin-bottom: 1rem;
}

.auth-fieldset {
  /*padding: 30px;*/
  border-radius: 5px;
}

.auth-fieldset > legend {
    padding: 0 0.5rem;
}

